//
//  Beta.xcconfig
//  InteractiveStory
//
//  Created by David McCann.
//  Copyright © David McCann. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon.beta
PRODUCT_NAME = InteractiveStory Beta
PRODUCT_BUNDLE_IDENTIFIER = com.davidmccann.beta
PRODUCT_MODULE_NAME = InteractiveStory

// User Defined
APP_ENV = beta
